@using btMVC3.Models;
@model NhanVien

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChiTiet</title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    Mã: @Model.Ma <br />
    Họ tên: @Model.Hoten <br />
    Ngày sinh: @Model.Ngaysinh <br />
    Quê quán: @Model.Quequan <br />
    Lương cơ bản: @Model.Luongcoban <br />
    Giới tính: @Model.Gioitinh <br />
    Điện thoại: @Model.Dienthoai <br />

                                 <a href="~/NhanVien/Xem" class="btn btn-success">Trở lại</a>
    
</body>
</html>
